Support geo URIs

As laid out in [RFC 5870](https://tools.ietf.org/html/rfc5870). 

See also [RFC 7946 Section 9](https://tools.ietf.org/html/rfc7946#section-9).